:root {
  --primary-color: rgba(0, 128, 128, 0.95);
  --primary-color-alt: rgba(0, 128, 128, 0.95);
  --linear-gradient: linear-gradient(
    54deg,
    rgba(0, 128, 128, 0.95) 34%,
    rgba(0, 128, 128, 0.95)
  );
}
